* {
    margin: 0;
    padding: 0;
}

body {
    position: absolute;
    background-color: #303030;
    font-family: sans-serif;
    width: 100%;
    height: 100%;
}

body #esq{
    
    position: relative;
    background-color: pink;
    width: 242px;
    height: 100%;
    float: left;
   
}
body #esq h2{
    display: block;
    position: relative;
    margin-left: 60px;  
    top: 80px;
}
body #esq #bot {
    position: relative;
    background-color: palevioletred;
    width: 192px;
    height: 200px;
    margin-top: 100px;
    margin-left: 20px;
}
body #esq #bot botton{
    background-color: #cCAF50; /* Green */
    border: none;
    color: white;
    padding: 12px    17px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 20px;
    margin-left: 20px;
    cursor: pointer;
}
body #esq #bot botton:hover{
    background-color: #aCAF50;
}

body #topo {
    position: relative;
    width: 82%;
    height: 50px;
    background-color: #1F3A50;
    float:right;
}

body #topo h2{
    color:whitesmoke;
    font-size: 17pt;
    margin-top: 10px;
    margin-left: 40px;
}

body #cursos {
    position: relative;
    color: whitesmoke;
    background-color: #404040;
    clear:right;
    float:right;
    width: 82%;
    height: 92%;    
}
div#cursos .container{
    background-color: white;
    width: 25%;
    height: 30%;
    margin-top: 4%;
    margin-left: 6%;
    margin-bottom: 4%;
    float: left;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

div#cursos .container img {
    max-width: 270px;
    max-height: 180px;    
}

div#cursos .container .fade{
    display: none;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 45%;
    background-color: rgba(0,0,0,0.2);
    background-image: linear-gradient(rgba(250,250,250,0.1), rgba(0,0,0,0.4));    
}

div#cursos .container .fade a{
    font-family: sans-serif;
    font-size: 20pt;
    position: absolute;
    margin:5%;
    color: whitesmoke;
}

div#cursos .container:hover .fade{
    display: block;
}

/*Forum*/
#forum {
    position: relative;
}
#forum .coment {
    position: relative;
    left: 20px;
    top: 20px;
    margin: 20px;
    background-color: whitesmoke;
    width: 700px;
    min-height: 100px;   
    float: left;
}

#forum .coment .com{
    margin-left: 20px;
    background-color: green;
}
#forum .coment .sub_rep{
    float:right;
    clear: right;
    background-color: red;
}