* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #303030;
    font-family: sans-serif;
}

section {
    background-color: gold;
    position: fixed;
    width: 18%;
    height: 100%;
}

section h2 {
    color: #303030;
    margin: 30px 5px 10px;
}

section div {
    background-color: rebeccapurple;
    margin-top: 50px;
    width: 88%;
    height: 50%;
}

section div a {
    color: #303030;
    text-decoration: none;
    background-color: green;
    float: left;
    margin: 5px 2px 2px;
    clear: both;
}
