<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <title>Attention</title>
        <meta charset="UTF-8">        
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="css/estilo_attention.css" rel="stylesheet" type="text/css"/>        
    </head>
    <body>
        <div class="main">
            <div id="symbol"></div>
            <div id="message">
                <h3 id="t">Mensagem</h3>
                <p id="d">Descrição, bla bla bla bla bla</p>
            </div>
        </div>
        <script>
                var symbol = document.getElementById("symbol");
                var message = document.getElementById("message");
                var titlem = document.getElementById("t");
                var descm = document.getElementById("d");
                
                var url = document.baseURI;
                var valor = url.indexOf('?')+1;
                var url_cortada = url.slice(valor);
           
                var comando = parseInt(url_cortada,10);
                function casos(comando) {
                    switch(comando){
                        case 0:
                           symbol.style.backgroundImage = "url('imagens/ok.png')";
                           titlem.innerHTML = "Aluno Cadastrado com Sucesso!";                           
                           descm.innerHTML = "Você será redirecionado para sua página de cursos!"; 
                           window.setTimeout("location.href='../sistema/aluno/logadoAluno.php'", 3000);
                           break;
                        case 1:
                           symbol.style.backgroundImage = "url('imagens/ok.png')";
                           titlem.innerHTML = "Professor Cadastrado com Sucesso!";                           
                           descm.innerHTML = "Você será redirecionado para sua página de cursos!"; 
                            window.setTimeout("location.href='../sistema/professor/LogadoProfessor.php'", 3000);
                           break;
                        case 2:
                           symbol.style.backgroundImage = "url('imagens/att.png')";
                           titlem.innerHTML = "O login não foi possível!";                           
                           descm.innerHTML = "Verique se o nome de usuário e senha estão corretos!"; 
                           window.setTimeout("location.href='login.html'", 4000);
                           break;                           
                        case 3:
                           symbol.style.backgroundImage = "url('imagens/att.png')";
                           titlem.innerHTML = "Formulário não preenchido!";                           
                           descm.innerHTML = "Preencha todos os campos corretamente!"; 
                           window.setTimeout("location.href='cadastro.html'", 3000);
                           break;
                        case 4:
                           symbol.style.backgroundImage = "url('imagens/att.png')";
                           titlem.innerHTML = "Email inválido!";                           
                           descm.innerHTML = "Insira um email válido!"; 
                           window.setTimeout("location.href='cadastro.html'", 3000);
                           break;
                        case 5:
                           symbol.style.backgroundImage = "url('imagens/att.png')";
                           titlem.innerHTML = "Esse usuário já foi cadastrado!";                           
                           descm.innerHTML = "Insira um outro nome de usuário para concluir seu cadastro!"; 
                           window.setTimeout("location.href='cadastro.html'", 3000);
                           break;
                        case 6:
                           symbol.style.backgroundImage = "url('imagens/att.png')";
                           titlem.innerHTML = "O login não foi possível, campo vazio!";                           
                           descm.innerHTML = "Preencha os dados corretamente para entrar!"; 
                           window.setTimeout("location.href='login.html'", 3000);
                           break;
                        case 7:
                           symbol.style.backgroundImage = "url('imagens/ok.png')";
                           titlem.innerHTML = "Aluno logado com sucesso!";                           
                           descm.innerHTML = "Seja bem vindo ao nosso sistema!"; 
                           window.setTimeout("location.href='../sistema/aluno/logadoAluno.php'", 3000);
                           break;
                        case 8:
                           symbol.style.backgroundImage = "url('imagens/ok.png')";
                           titlem.innerHTML = "Professor logado com sucesso!";                           
                           descm.innerHTML = "Seja bem vindo ao nosso sistema!"; 
                           window.setTimeout("location.href='../sistema/professor/logadoProfessor.php'", 3000); 
                           break;
                       case 9: 
                           symbol.style.backgroundImage = "url('imagens/att.png')";
                           titlem.innerHTML = "Ocorreu um problema!";                           
                           descm.innerHTML = "Tente novamente!"; 
                           window.setTimeout("location.href='../sistema/professor/logadoProfessor.php'", 4000);
                           break;
                       case 10:
                           symbol.style.backgroundImage = "url('imagens/ok.png')";
                           titlem.innerHTML = "Tudo Certo!";                           
                           descm.innerHTML = "As modificações foram realizadas com sucesso!"; 
                           window.setTimeout("location.href='../sistema/professor/logadoProfessor.php'", 2000);
                           break;
                       case 11: 
                           symbol.style.backgroundImage = "url('imagens/att.png')";
                           titlem.innerHTML = "Aluno Não Logado";                           
                           descm.innerHTML = "Efetue o login para comprar o curso"; 
                           setInterval('', 5000);
                           window.history.back();
                           
                           
                           break;
                    }
                }
                
                casos(comando);
        </script>
    </body>
</html>
