<!DOCTYPE html>
<html lang="pt-br">

    <head>
        <title>????????</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="css/estilo_fsp.css">
    </head>

    <body>
        <header>        
            <a href="../index.html"><div class="logo"> 
                <svg> 
                    <symbol id="s-text"> 
                        <text text-anchor="middle" x="50%" y="80%">generico</text> </symbol> 
                    <g> 
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#s-text" class="titulo_text"></use> 
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#s-text" class="titulo_text"></use> 
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#s-text" class="titulo_text"></use> 
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#s-text" class="titulo_text"></use> 
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#s-text" class="titulo_text"></use> 
                    </g> 
                </svg> 
        </div></a>
        
        <div class="links">
            <a href="sobreNos.html" class="topheader">SOBRE NÓS</a>
            <a href="faleCon.html" class="topheader">FALE CONOSCO</a>
            <a href="pergFeq.html" class="topheader">PERGUNTAS FREQUENTES</a>
            <div class="dropdown">
                <img class="bt-drop" style="max-width: 18px" src="imagens/t.png">
                <div class="c-dropdown">
                    <a href="#" class="d">MINHA CONTA</a>
                    <a href="#" class="d">SAIR</a>
                </div>
            </div>
        </div>
        
        </header>
        <div class="contatos">
            <h3>Fale Conosco</h3>
            
            <p id="cont"><img src="imagens/telefone.png" id="contIm">  &nbsp;(XX)XXXXX-XXXX</p>
            <p id="cont"><img src="imagens/email.png" id="contIm">  &nbsp; example@example.com</p>
                 
            
        </div>
        
        <footer>
            <p>'nome do site' &#9400  2017<br>Desenvolvido por Vinicius Araújo e Luis Santos</p>
        </footer>
    </body> 
</html>