<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <title>Fale Conosco</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="css/estilo_fsp.css" rel="stylesheet" type="text/css"/>
        <script>
            window.onload = function(){
                var a = document.querySelector("#fale");
                a.style.borderBottom = "3px solid #ffffff";
                a.style.paddingBottom = "12px";
            }
        </script>
    </head> 
    <body>
        <header>        
            <a href="../index.html"><div class="logo"> 
                    <svg> 
                        <symbol id="s-text"> 
                            <text text-anchor="middle" x="50%" y="80%">generico</text> </symbol> 
                        <g> 
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#s-text" class="titulo_text"></use> 
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#s-text" class="titulo_text"></use> 
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#s-text" class="titulo_text"></use> 
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#s-text" class="titulo_text"></use> 
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#s-text" class="titulo_text"></use> 
                        </g> 
                    </svg> 
            </div></a>

            <div class="links">
                <a href="sobreNos.html" class="topheader" id="sobre">SOBRE NÓS</a>
                <a href="faleCon.html" class="topheader" id="fale">FALE CONOSCO</a>
                <a href="pergFeq.html" class="topheader" id="perguntas">PERGUNTAS FREQUENTES</a>
            </div>
        
        </header> 
        
        <div class="contatos">
            <h3>Fale Conosco</h3>
            
            <p id="cont"><img src="imagens/telefone.png" id="contIm">  &nbsp;(XX)XXXXX-XXXX</p>
            <p id="cont"><img src="imagens/email.png" id="contIm">  &nbsp; example@example.com</p>
                 
            
        </div>
        
        <footer>
            <p>'nome do site' &#9400  2017<br>Desenvolvido por Vinicius Araújo e Luis Santos</p>
        </footer>
    </body> 
</html>