<!DOCTYPE html>

<html>

<head>
    <title>login</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/estilo_login.css">
</head>

<body>
    <div>
        <h3>Cadastro</h3>
        <hr>
        <form action="../controller/Formulario.php" method="post">

            <input type="radio" name="tipo" class="radio" value="0" required> Aluno
            <input type="radio" name="tipo" class="radio" value="1"> Professor
            <hr>

            <blockquote>Nome: <br>
                <input type="text" name="nome" required placeholder="Nome"><br> Sobrenome:
                <br>
                <input type="text" name="sobrenome" required placeholder="sobrenome">
                <br> cpf:
                <br><input type="number" min="11" required placeholder="CPF">
                <br> Data de Nascimento:
                <br>
                <input type="number" name="nasc" required placeholder="dia/mes/ano"><br> E-mail:
                <br>
                <input type="email" name="email" required placeholder="Digite seu email">
                <br> telefone:
                <br><input type="number" name="telefone" required placeholder="Telefone">
                <br>senha:<br><input type="password" name="senha" placeholder="senha"><br> confirmação da senha:<br><input type="password" name="senha" placeholder="senha"><br><br>
                <input type="submit" value="Cadastrar">
            </blockquote>
        </form>
    </div>
</body>

</html>
