<!DOCTYPE html>

<html>

<head>
    <title>Login</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/estilo_login.css">

</head>

<body>
    <div id="log">
        <form action="../controller/login.php" method="Post">
            <h3>Nome:</h3><br>
            <input type="text" name="id" required>
            <br>
            <h3> Senha:</h3> <br>
            <input type="password" name="senha" required>
            <br><br>
            <input id="sub" type="submit" value="Entrar">
            <a href="#"><p class="esqsenha">Esqueci minha senha!</p></a>
        </form>
        
        <p>Não está cadastrado ainda? <a href="cadastro.html">Clique aqui.</a></p>
    </div>
</body>

</html>
