<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <title>Perguntas Frequentes - nect.us</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="css/estilo_fsp.css" rel="stylesheet" type="text/css"/>
        <script>
            window.onload = function(){
                var a = document.querySelector("#perguntas");
                a.style.borderBottom = "3px solid #ffffff";
                a.style.paddingBottom = "12px";
            }
        </script>
    </head> 
    <body>
        <header>
        
            <a href="../index.html"><div class="logo"> 
                    <svg> 
                        <symbol id="s-text"> 
                            <text text-anchor="middle" x="50%" y="80%">nect.us</text> </symbol> 
                        <g> 
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#s-text" class="titulo_text"></use> 
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#s-text" class="titulo_text"></use> 
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#s-text" class="titulo_text"></use> 
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#s-text" class="titulo_text"></use> 
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#s-text" class="titulo_text"></use> 
                        </g> 
                    </svg> 
            </div></a>

            <div class="links">
                <a href="sobreNos.html" class="topheader" id="sobre">SOBRE NÓS</a>
                <a href="faleCon.html" class="topheader" id="fale">FALE CONOSCO</a>
                <a href="pergFeq.html" class="topheader" id="perguntas">PERGUNTAS FREQUENTES</a>
                <div class="dropdown">
                    <img class="bt-drop" style="max-width: 18px" src="imagens/t.png">
                    <div class="c-dropdown">
                        <a href="../sistema/minhaConta.php" class="d">MINHA CONTA</a>
                        <a href="../sistema/sair.php" class="d">SAIR</a>
                    </div>
                </div>
            </div>
        
        </header>  
        
        <div class="perFreq">
            <h3>Perguntas Frequentes</h3>
            
            <div class="pr">
                <div class="pergunta">
                    <h2>Como eu me cadastro no Nect.us?</h2>
                </div>
                <div class="resposta">
                    <p>Na página do login, abaixo da "caixa do login" existe um link com o nome 'Clique aqui' onde você irá para a página de cadastro. Lá você deve escolher se quer se cadastrar como professor ou como aluno, depois é só preencher o formulário de cadastro com os seus dados e clicar no botão cadastrar e pronto, seu cadastro está feito. Se você já quiser se cadastrar <a href="cadastro.html">CLIQUE AQUI.</a></p>
                </div>
            </div>
            
            <div class="pr">
                <div class="pergunta">
                    <h2>Se eu, como professor, quiser criar um curso, o que eu faço?</h2>
                </div>
                <div class="resposta">
                    <p>Se você já estiver cadastrado, efetue o login e você será direcionado ao ambiente do professor, na aba lateral esquerda existe um campo chamado 'Criar curso', clique nele preencha as informações do seu curso, depois clique no botão abaixo criar cursos e pronto! Seu curso já vai estar disponível na aba 'Meus Cursos'.</p>
                </div>
            </div>
            
            <div class="pr">
                <div class="pergunta">
                    <h2>Quanto custam os cursos?</h2>
                </div>
                <div class="resposta">
                    <p>Não existe um preço fixo para os cursos, depende do professor que os criou. Mas nós sempre estamos entrando em contato com os professores para deixarem os cursos com um preço acessível, pois essa é uma das maiores vantagens da nossa plataforma. No <b>nect.us</b> contamos também com cursos grátis.</p>
                </div>
            </div>
            
            <div class="pr">
                <div class="pergunta">
                    <h2>Eu recebo algum tipo de certificação pelo curso?</h2>
                </div>
                <div class="resposta">
                    <p>Sim. Após o término das aulas, será enviado para o email do aluno um certificado do curso que ele realizou com a quantidade de horas desse curso.</p>
                </div>
            </div>
            
            
            
            
        </div>
        
        <footer>
            <p>nect.us &#9400  2017<br>Desenvolvido por Vinicius Araújo e Luis Santos</p>
        </footer>
    </body> 
</html>