<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <title>Sobre Nós - nect.us</title>
        <link href="imagens/logo_tit.png" rel="shortcut icon">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="css/estilo_fsp.css" rel="stylesheet" type="text/css"/>
        <script>
            window.onload = function(){
                var a = document.querySelector("#sobre");
                a.style.borderBottom = "3px solid #ffffff";
                a.style.paddingBottom = "12px";
            }
        </script>
    </head> 
    
    <body>
        <header>        
            <a href="../index.html"><div class="logo"> 
                    <svg> 
                        <symbol id="s-text"> 
                            <text text-anchor="middle" x="50%" y="80%">nect.us</text> </symbol> 
                        <g> 
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#s-text" class="titulo_text"></use> 
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#s-text" class="titulo_text"></use> 
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#s-text" class="titulo_text"></use> 
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#s-text" class="titulo_text"></use> 
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#s-text" class="titulo_text"></use> 
                        </g> 
                    </svg> 
            </div></a>

            <div class="links">
                <a href="sobreNos.html" class="topheader" id="sobre">SOBRE NÓS</a>
                <a href="faleCon.html" class="topheader" id="fale">FALE CONOSCO</a>
                <a href="pergFeq.html" class="topheader" id="perguntas">PERGUNTAS FREQUENTES</a>
                <div class="dropdown">
                    <img class="bt-drop" style="max-width: 18px" src="imagens/t.png">
                    <div class="c-dropdown">
                        <a href="../sistema/minhaConta.php" class="d">MINHA CONTA</a>
                        <a href="../sistema/sair.php" class="d">SAIR</a>
                    </div>
                </div>
            </div>
        
        </header>
        
        <div class="content">
            <h3>Sobre Nós</h3>
            
            <p>O <b>nect.us</b> é um ambiente virtual de ensino à distância, com uma gama de cursos disponíveis para atender as suas necessidades acadêmicas ou profissionais. Nossa plataforma conta com uma área de cursos onde você pode escolher quaisquer cursos desejar. No curso você terá acesso à todo o acervo do curso como:</p>
            
            <div class="lista">
                <img alt="video-aulas" src="imagens/videoaulas.png"><br>
                <p>video-aulas;</p>
            </div>
                
            <div class="lista">
                <img alt="pdfs" src="imagens/pdf.png"><br>
                <p>pdf's;</p>
            </div>
                
            <div class="lista">
                <img alt="form" src="imagens/formulario.png"><br>
                <p>formulários para praticar o conteúdo;</p>
            </div>
                
            <div class="lista">
                <img alt="forum" src="imagens/forum.png"><br>
                <p>além do fórum de perguntas para você interagir com seu professor e colegas de curso.</p>
            </div>      
            
            
            <h2>Nosso objetivo</h2>
            <p>Oferecer os melhores cursos por preços bastante acessíveis e proporcionar a melhor experiência de ensino à distância em uma plataforma intuitiva, robusta e acessível, pois acreditamos no ensino à distância e trabalhamos para torná-lo cada vez melhor.</p>
            
            <h2>Visão</h2>
            <p>Alcançar o maior número de pessoas possível para desfrutarem de um ensino de qualidade.</p>
        </div>
        
        <footer>
            <p>nect.us &#9400  2017<br>Desenvolvido por Vinicius Araújo e Luis Santos</p>
        </footer>
        
    </body> 
</html>