/* 
    Created on : 27/11/2017, 16:34:55
    Author     : Vinicius
*/

* {
   padding: 0;
   margin: 0;
}

#save {
    position: fixed;
    top:0;
    right: 18px;
    padding:8px;    
    font-family: sans-serif;
    font-size: 13pt;
}

div#area {
    position: absolute;
    background-color: gray;
    height: 100%;
    width: 1349px;
}
/*esquerda*/
div#esquerda {
    width: 300px;
    height: 100%;
    position: absolute;
    float: left;
    background-color: steelblue;
}
div#esquerda #thumb {
    background-color: #2F5778;
    width: 90%;
    height: 200px;
    margin: 15px;
}
div#esquerda h2{
    font-family: sans-serif;
    color: white;
    margin: 23px 15px;
}

div#esquerda #txar {
    margin-left: 10px;
    font-size: 16pt;
}

/*Centro*/
div#centro {
    width: 1049px;
    height: 100%;
    margin: 0 auto;
    background-color: chartreuse;
    background-color: #2F5778;
    float: right;
}
div#centro input[type=text] {
    position: absolute;
    font-family: sans-serif;
    font-size: 23pt;
    margin-top: 50px;
    margin-left: 350px;
    background-color: #1F3A50;
    color: whitesmoke;
    height: 30px;   
}

div#centro .spa {
    position: absolute;
    color: whitesmoke;
    font-family: sans-serif;
    font-size: 26pt;
    margin-top: 50px;
    display: inline-block;
    margin-left: 230px;
}

div#centro #aulas {
    position: absolute;
     width: 1049px;
     height: 63%;
     background-color: #2F5778;
     box-shadow: #303030 0px -10px 40px;
     bottom: 0;
}
div#centro #aulas h2{
    font-family: sans-serif;
    color: whitesmoke;
    font-size: 24pt;
    margin-top: 30px;
    margin-left: 30px;
}

div#centro #aulas .um {
    background-color: #294B68;
    margin-left: 100px;
    margin-top: 30px;
    display: inline-block;
    padding: 5px 10px;
    float: left;
    clear: both;
}

div#centro #aulas .um .title {
    font-size: 18pt;
    font-family: sans-serif;
    color: whitesmoke;
}

div#centro #aulas .um .title a {
    text-decoration: none;
    color: whitesmoke;
}
div#centro #aulas .um:hover{
     background-color: transparent;
     box-shadow: #303030 0px 10px 40px;
}
div#centro #aulas #new {
    background-color: #294B68;
    margin-left: 100px;
    margin-top: 30px;
    display: inline-block;
    padding: 5px 10px;
    float: left;
    clear: both;
}
div#centro #aulas #new #tit {
    font-size: 18pt;
    font-family: sans-serif;
    color: whitesmoke;
}
div#centro #aulas #new input{
    position: relative;
    font-size: 17pt;
    margin: 0;
    height: 30px;
    margin-right: 5px;
    padding-left: 5px;
}

div#centro #aulas #new button {
    top: 0;
    padding: 5px;
    font-size: 14pt;
    background-color: whitesmoke;
    
}