/* 
    Created on : 27/11/2017, 16:34:55
    Author     : Vinicius
*/
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans|Quicksand');

* {
   padding: 0;
   margin: 0;
}

body {
    margin: 0 auto;
    width: 100%;
    height: 100%;
    position: absolute;
    font-family: sans-serif;
    background-image: url(../../../view/imagens/cafeeb.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

div#area {
    display: block;
    float: left;
    position: relative;
    height: 100%;
    width: 100%;
}

/*esquerda*/
div#esquerda {
    width: 19.9%;
    height: 100%;
    position: relative;
    float: left;
    border-right: 1px solid white;
}

div#esquerda #thumb {
    background-color: #2F5778;
    width: 90%;
    height: 200px;
    margin: 5% auto;
}

div#esquerda h2{
    font-family: 'Quicksand', sans-serif;
    font-size: 17px;
    color: white;
    margin: 10%;
}

div#esquerda #txar {
    width: 90%;
    margin-left: 4%;
    font-size: 12pt;
    padding: 1%;
    border: none;
    background: none;
    border-bottom: 2px solid white;
    color: rgba(250, 250, 250, 0.7);
    font-family: sans-serif;
}


/*Centro*/
div#centro {
    width: 80%;
    height: 100%;
    position: relative;
    float: right;
}

div#centro input[type=text] {
    position: relative;
    font-family: sans-serif;
    font-size: 17pt;
    height: 20%;   
    border: none;
    background: none;
    border-bottom: 2px solid white;
    color: white;
}

div#centro input[type=text]:focus {
    background-color: rgba(250, 250, 250, 0.2);
}

div#centro input[type=number] {
    position: relative;
    font-family: sans-serif;
    font-size: 17pt;
    height: 30px;   
    border: none;
    background: none;
    border-bottom: 2px solid white;
    color: white;
}

div#centro input[type=number]:focus {
    background-color: rgba(250, 250, 250, 0.2);
}

div#centro .spa {
    font-size: 20pt;
    position: relative;
    padding: 2%;
    color: whitesmoke;
    font-family: sans-serif;
    display: inline-block;
}

.sp {
    font-size: 17pt;
    position: relative;
    padding: 1%;
    color: whitesmoke;
    font-family: sans-serif;
    display: inline-block;
    margin-left: 33%;
}

.sp:nth-child(1) {
    margin-top: 2%;
}

.titulo_curso {
    font-size: 30pt;
    font-family: 'Josefin Sans', sans-serif;
    color: whitesmoke;
    margin-left: 25%;
}

#save {
    display: block;
    margin: 2%;
    float: right;
    font-family: sans-serif;
    font-size: 13pt;
    padding: 10px;
    border: 1px solid;
    background-color: rgba(250, 250, 250, 0.1);
    width: 20%;
    color: white;
}

#save:hover {
    background-color: rgba(250, 250, 250, 0.3);
    cursor: pointer;
}

div#centro #top {
    position: relative;
    width: 100%;
    height: 30%;
    border-bottom: 1px solid white;
}

div#centro #aulas {
    position: relative;
    width: 100%;
    height: 70%;
    overflow: auto;
}

div#centro #aulas h2{
    padding: 1% 1% 1% 5%;
    font-family: sans-serif;
    color: whitesmoke;
    font-size: 24pt;
}

div#centro #aulas .um {
    display: block;
    text-align: center;
    padding: 10px;
    margin: 3%;
    padding: 1%;
}

div#centro #aulas .um .title {
    font-size: 18pt;
    font-family: sans-serif;
    color: whitesmoke;
}

div#centro #aulas .um .title a {
    text-decoration: none;
    color: whitesmoke;
}

div#centro #aulas .um:hover{
     box-shadow: #303030 0px 1px 4px;
}

div#centro #aulas #new {
    display: inline;
}

div#centro #aulas #new #tit {
    font-size: 18pt;
    font-family: sans-serif;
    color: whitesmoke;
    margin-left: 5%;
}

div#centro #aulas #new input{
    padding: 1%;
    font-size: 15pt;
}

div#centro #aulas #new button {
    padding: 1%;
    margin: 1%;
    font-size: 14pt;
    padding: 10px;
    border: 1px solid;
    background-color: rgba(250, 250, 250, 0.1);
    font-size: 13pt;
    width: 20%;
    color: white;   
}

div#centro #aulas #new button:hover {
    background-color: rgba(250, 250, 250, 0.3);
    cursor: pointer;
}