* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0 auto;
    width: 100%;
    position: absolute;
    font-family: sans-serif;
    background-color: gray;

}

div#log {
    color: whitesmoke;
    width: 250px;
    height: 250px;
    background-color: #4e4e4e;
    margin: 0 auto;
    margin-top: 50px;

}

div h3 {
    position: relative;
    margin-left: 50px;
    top: 57px;

}

div input {
    margin-left: 50px;
    top: 49px;
    position: relative;

}

div #sub {
    padding: 5px;
    font-size: 15pt;
    position: relative;
    margin-top: 5px;
    right: 40px;
    float: right;

}

div a {
    color: whitesmoke;
    text-decoration: none;


}

div a:hover {
    color: burlywood;
}
