*{
    margin: 0;
    padding: 0;
}

body {
    margin: 0 auto;
    width: 100%;
    position: fixed;
    font-family: sans-serif;
    background-image: url(../imagens/cafeeb.jpg);
    background-size: auto;
    background-repeat: no-repeat;    
}
.main {
    width: 600px;
    height: 300px;
    border: 5px solid white;
    border-radius: 10px;
    position: absolute;
    margin: 0 auto;
    margin-left: 380px;
    margin-top: 150px;
}

#symbol {
    position: relative;
    float: left;
    width: 200px;
    height: 200px;
    margin-top: 50px;
    margin-left: 50px;  
}

#message {
    position: relative;
    color: white;
    float: left;
    width: 300px;
    height: 200px;
    margin-top: 35px;
}

#t, #d {
    display: inline-block;
    margin:10px;
    margin-left:20px; 
    text-align: center;
}

#t{
    margin-top: 60px;
}