@import url('https://fonts.googleapis.com/css?family=Josefin+Sans|Quicksand');

* {
    width: 0;
    padding: 0;
}

header {
    height: 20px;
    width: 100%;
    padding: 40px;
    padding-left: 750px;
    position: fixed;
}

.topheader{
    color: white;
    text-decoration: none;
    display: inline;
    margin: 20px;
}

body {
    margin: 0 auto;
    width: 100%;
    height: 100%;
    position: absolute;
    font-family: sans-serif;
    background-image: url(../imagens/cafee.jpg);
    background-repeat: no-repeat;
}

button {
    width: 300px;
    display: block;
    font-size: 14pt;
    font-family: 'Quicksand', sans-serif;
    background-color: transparent;
    border: 5px white solid;
    border-radius: 8px;    
    margin: 20px;
    margin-left: 230px;
    padding: 30px;
    color: white;
    cursor: pointer;  
}

#cursos {
    margin-top: 200px;
    margin-bottom: 60px;
}

a {
    text-decoration: none;
    color: white;
}


div#cent {
    height: 200px;
    width: 100%;
}
